html { padding: 0; margin: 0; }
body {font-family: 'microsoft yahei',Arial,sans-serif;padding: 0;margin: 0;font-size: 14px;background-color: #fff;}

*{padding: 0;margin: 0;}
a:hover{cursor: pointer;}
.normal{width:960px;margin:0 auto;min-width: 960px;}
.left{float: left;display: inline;}
.right{float: right;display: inline;}

.header{height: 85px;background-color: #fff;z-index: 1000;}
.header .normal{padding-top: 5px;height: 80px;}
.header .header-logo .right{height: 80px;}
/*头部*/
.menu{background: url(../image/image7/menu_top_bg.gif) repeat-x;height: 54px;margin: 0 0 12px 0;font-size: 17px;overflow: hidden;z-index:1000;position:relative;}
.menu .nav{height: 54px;line-height: 54px;}
.menu .nav ul{width: auto;height: 54px;}
.menu .nav li{list-style: none;float: left;display: inline;margin-right: 10px;}
.nav li.active{background: url(../image/image7/menu_top_current_bg.gif) repeat-x;}
.nav li.active a{color:#000;}
.nav li a{width: 80px;float: left;line-height: 54px;height: 54px;text-align: center;color: #fff;padding: 0 0px 0 33px;;background-repeat: no-repeat;position: relative;}
.nav li.active .home{background-image: url(../image/image7/home_a.jpg);}
.nav li .flight,.nav li .iflight{background-image: url(../image/image7/flight.jpg);}
.nav li .hotel{background-image: url(../image/image7/hotel.jpg);}
.nav li .holiday{background-image: url(../image/image7/holiday.jpg);}
.nav li .attraction{background-image: url(../image/image7/attraction.jpg);}
.nav li .buy{background-image: url(../image/image7/buy.jpg);}
.nav a:hover{color: #ffeca2;}
/*内容*/
.content-main{overflow: hidden;position:relative;}
.c-main-left{width: 324px;background: #fff;margin-right: 14px;border: solid 1px #ccc;height: 400px;overflow: hidden;position:relative;}
.c-main-banner{overflow: hidden;margin-right: 4px;color: #999;width: 50px;}
.c-main-banner li{list-style: none;  background: #efefef;line-height: 60px;padding: 40px 10px;float: left;font-size: 23px;text-align: center;cursor: pointer;}
.c-main-banner li.active{color: #FCFEFF;background: #32A9CC;position: relative;}
.c-main-banner li.active span{position: absolute;width: 0;height: 0;border: 10px solid transparent;border-right-color: #fff;right: 0;top: 50%;margin-top: -5px;}
.c-main-title-tab{width: 270px;line-height: 20px;float: left;margin-top: 15px;margin-bottom: 25px;padding-bottom: 10px;overflow: visible;border-bottom: 2px solid #ccc;}
.c-main-title-tab li{list-style: none;float:left;display: inline;width: 100px;color: #000;font-size: 16px;text-align: center;padding-bottom: 5px;margin-bottom: -12px;cursor: pointer;margin-right: 10px;}
.c-main-title-tab li.active{border-bottom: 2px solid #06C;position: relative;color: #000;}
.c-main-title-tab li.active span{width: 0;height: 0;border: 5px solid transparent;border-top-color: #06c;top: 100%;margin-top: 2px;left: 50%;margin-left: -5px;display: block;position: absolute;}
.c-main-form{clear:both;height: auto;width: 270px;position: relative;margin-top: 15px;overflow: hidden;}
.c-main-form form{width: 270px;}
.c-main-form .item{margin-bottom: 15px;padding-left: 5px;overflow: hidden;}
.c-main-form .item label{width:70px;line-height: 36px;clear:both;float:left;}
.c-main-form .item input{float:left;width: 150px;border: 1px solid #ccc;line-height: 30px;height: 30px;padding: 2px 0 2px 5px;  background: url(../image/image7/inputbac.png) 130px 6px no-repeat;}
.c-main-form .item input:disabled{background: #eee;}
.c-main-form .exchange{position: absolute;top: 18px;right: 14px;}
.c-main-form .exchange a{display: block;background: url(../image/image7/inputbac.png) no-repeat 0 -100px;width: 30px;height: 53px;}
.c-main-form .radio{padding-left: 75px;}
.c-main-form .time input{width: 175px;background: url(../image/image7/inputbac.png) 155px -44px no-repeat;}
.c-main-form .hotelItem input{width: 175px;background: none;}
.c-main-form .submit input{text-align: center;width: 100px;height: 30px;padding: 0;background: url(../image/image7/btn_search.png) no-repeat;color: #000;font-size: 20px;font-family: "黑体";float: right;border: 0;cursor: pointer;margin-right: 15px;}
.c-main-form #iHotelForm{border:1px solid #AFC4DA;border-top:2px solid #AFC4DA;}
.c-main-form .i_item{margin-bottom: 15px;padding-left: 15px;overflow: hidden;}
.c-main-form #iHotelForm .radio{padding-left: 15px;margin-top: 10px;}
.c-main-form .i_item label{line-height: 24px;clear:both;float:left;margin-right: 10px;font-size: 12px;color:#333;}
.c-main-form .i_item input{width: 140px;height: 20px;padding: 2px 4px 0 4px;color: #666666;border: 1px solid #9F9F9F;background-color: #FFFFFF;}
.c-main-form .radio label{width: auto;margin-right: 15px;border:none;vertical-align: middle;float:none;}
.c-main-form .radio input{width: auto;margin-right: 5px;border:none;vertical-align: middle;float:none;}
.c-main-form #iHotelForm .submit{margin-left: 15px;margin-bottom: 20px;}
.c-main-form #iHotelForm .submit input{float:none;font-size: 14px;color:#444444;}
/*右侧图片轮播*/
.c-main-right{padding: 8px;border: 1px solid #999;background: #fff;}
.c-main-right .c-main-box{height: 384px;width: 602px;background: #f1f1f1;overflow: hidden;text-align: left;position: relative;}
.c-main-box .bigPic{width: 602px;height: 298px;overflow: hidden;position: absolute;top:0;left:0;}
.c-main-box .bigPic li{list-style: none;position: absolute;width: 100%;height: 100%;overflow: hidden;}
.c-main-box a{display: block;}
.c-main-box .picText li{list-style: none;position: absolute;width: 100%;height: 38px;line-height: 38px;bottom: 86px;}
.c-main-box .picText li a{display: block;position: relative;z-index: 1;color: #fff;padding-left: 16px;font-size: 14px;font-weight: bold;text-decoration: none;}
.c-main-box .picText li b{position:absolute;left:0;top:0;background: #000;opacity:0.3;width: 100%;height: 100%;}
.c-main-box .smallPic{width: 570px;height: 86px;position: absolute;left:16px;bottom: 0;}
.c-main-box .smallPic li{list-style: none;float:left;display: inline;width:143px;overflow: hidden;cursor: pointer;}
.c-main-box .smallPic li.current{background: url(../image/image7/ar.gif) center 5px no-repeat;}
.c-main-box .smallPic li a{display: block;border: 3px solid #D3D3D3;margin: 10px 4px;}
.c-main-box .smallPic li.current a{border-color:#ff8c00;}
.c-main-box .smallPic li a img{height: 60px;width: 100%;}
.c-main-box .pre,.c-main-box .next{font: bold 28px/28px arial;width: 16px;overflow: hidden;position: absolute;z-index: 4;left: 0;bottom: 11px;cursor: pointer;}
.c-main-box .next{left:auto;right:0;}
.c-main-box .pre a,.c-main-box .next a{display: block;color: #bbb;text-align: center;text-decoration: none;}

/*城市联动*/
.cityAuto{position:absolute;top:110px;left:130px;z-index:99;background: #fff;border:1px solid #aaa;width:420px;font-size: 12px;}
.cityAuto .notice{text-align: left;position: relative;border-bottom: 1px dashed #aaa;overflow: hidden;line-height: 30px;padding: 0 10px;height: 30px;}
.cityAuto .notice h3{font-weight: normal;font-size: 12px;}
.cityAuto .notice .close{position: absolute;width: 14px;height: 14px;background: url(../image/image7/closecity.gif);top: 8px;right:8px;}
.cityAuto .cityMenu ul{border-bottom: 1px solid #aaa;margin-top: 8px;line-height: 20px;padding-left: 8px;overflow: hidden;height: 21px;}
.cityAuto .cityMenu ul li{list-style: none;float: left;display: inline;width: auto;margin: 0 8px 0 0;padding: 0 10px;border: 1px solid #aaa;border-bottom: none;cursor: pointer;background: #eee;}
.cityAuto .cityMenu ul li.active{background: #fff;color: #33a;}
.cityAuto .cityList li{list-style: none;float: left;display: inline;width: 70px;text-align: center;line-height: 20px;}
.cityAuto .cityList li a{display: block;}
.cityAuto .cityList li a:hover{text-decoration: underline;}


/*内容第二部分*/
.content-center{overflow: hidden;margin-top: 10px;margin-bottom:20px;}
.content-center a{display: block;}
.content-center .left-content{position: relative;margin-right: 10px;}
.content-center .left-content .left-pic,.content-center .left .left-pic li a{width: 290px;height: 152px;}
.content-center .left-content .left-pic li{list-style: none;width:290px;height: 152px;}
.content-center .left-content .left-pic li img{width: 290px;height: 152px;}
.content-center .left-content .left-round{position: absolute;bottom:0;right:0;}
.content-center .left-content .left-round span{display: inline-block;width: 18px;height: 18px;margin: 0 10px 10px 0px;cursor: pointer;background-image: url(../image/image7/02.png);}
.content-center .left-content .left-round span.current{background-image: url(../image/image7/01.png);}
.content-center .right-content{width: 660px;overflow: hidden;}
.content-center .right-content .right-title{width: 100%;border-bottom: 5px solid #f6f6f6;height: 34px;line-height: 34px;position: relative;vertical-align: baseline;}
.right-content .right-title .logo{font-family: "\5FAE\8F6F\96C5\9ED1";float: left;font-size: 16px;color: #444;font-weight: 600;position: relative;background: url(../image/image7/special_icon.jpg) 8px 7px no-repeat;}
.right-content .right-title .logo i{position: absolute;z-index: 9999;height: 0;line-height: 0;width: 110px;bottom: -6px;left: 0;border-top: 5px solid #eef8ff;border-bottom: 1px solid #3f81ca;display: block;}
.right-content .right-title .logo span{padding-left: 30px;}
.right-title .sub-menu li{list-style: none;float: left;display: inline;cursor: pointer;}
.right-title .sub-menu li span{display: inline-block;text-align: center;color: #333;padding: 0 14px;font: normal 12px arial,"Microsoft YaHei","\5B8B\4F53";}
.right-title .sub-menu li.current span{color:#333;font-weight: 700;}
.right-title .sub-menu li span:hover{color:#4183CC;}
.flight-content .flight-list{height: 92px;width: 100%;border-top: 1px solid #d3d3d3;}
.flight-content .flight-list ul{width: 320px;float: left;margin-left: 10px;border-right: 1px solid #e0e0e0;list-style: none;margin-top: 8px;height: 84px;}
.flight-content .flight-list ul.right-ul{width: 296px;border-right: 0;float: right;}
.flight-content .flight-list ul li{list-style: none;height: 28px;line-height: 28px;padding: 0 10px;margin-right: 30px;text-align: left;overflow: hidden;position: relative;background: #fff;}
.flight-content .flight-list ul.right-ul li{margin-right: 0;}
.flight-content .flight-list li a{cursor: pointer;height: 28px;font-size: 12px;display: inline-block;}
.flight-content .flight-list li:hover{background: #f0f0f0;}
.flight-content .flight-list li .specialTitle{width: 110px;font-size: 12px;color: #4483cc;font-family: '宋体';display: block;float: left;}
.flight-content .flight-list li .date{width: 65px;color: #c6c6c6;float: left;}
.flight-content .flight-list li .lowestPrice{color: #f60;font: 14px arial,"Microsoft YaHei","\5B8B\4F53";float: left;padding-top: 3px;}
.flight-content .flight-list li .lowestPrice strong{font: 18px Arial;padding-left: 2px;}
.flight-content .flight-list li .rate{padding-left: 10px;color: #c6c6c6;}
.flight-content .load-more{float:right;height: 20px;line-height: 20px;color: #005bb5;font-family: "\5B8B\4F53";font-size: 12px;}

/*尾部*/
.footer .footer-content{text-align: center;margin: 0 auto;padding-top: 5px;font-size: 12px;line-height: 25px;margin-bottom: 40px;}
.footer .footer-content p a{color:#551A8B;}

