* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

#canvas {
    /* 知识点：canvas元素默认为 inline-block 元素，当你用 js 获取屏幕的宽高并赋给 canvas 时，
    canvas 会出现 bug ，也就是 inlin-block 的 bug ，当你缩小屏幕时，inline-block 会有一个
    间距，此时会出现滚动条，这就是inline-block 的 bug ，解决方案：
    第一种: 将 canvas 设置为 display：block；
    第二种：在 canvas 属性中添加 vertical-align：top；*/
    display: block;
    /* vertical-align: top; */
    position: fixed;
    top: 0;
    left: 0;
}

/* 模式 */
.set {
    position: fixed;
    left: 0;
    top: 0;
    padding: 10px;
}

.set>svg {
    margin: 5px;
    width: 30px;
    height: 30px;
    transition: all 0.3s;
}

.set>.modelActive {
    fill: #EB404C;
    transform: scale(1.2);
}
/* 线宽 */
.lineWidth{
    position: fixed;
    top: 60px;
    left:10px;
}

.lineWidth > li{
    border-radius: 50%;
    background-color: black;
    transition: all 0.3s;
}
.lineWidth > .activeLineWidth{
    background-color: #30D5C8;
}
.lineWidth > .thin{
    width:6px;
    height:6px;
    margin: 8px 6px 16px;
}
.lineWidth > .middle{
    width:8px;
    height:8px;
    margin: 16px 5px;
}
.lineWidth > .thick{
    width:10px;
    height:10px;
    margin:16px 4px;
}



.palette {
    position: fixed;
    top: 15px;
    right: 20px;
    width: 30px;
    height: 30px;
    transition: all 0.3s;
}
.palette.paletteActive {
    transform: scale(1.2);
}

.colors {
    position: fixed;
    top: 48px;
    right: 28px;
    transition: all 0.3s;
    display: none;
}
.colors.colorsActive{
    display: block;
}

.colors > .color {
    width: 14px;
    height: 14px;
    margin: 8px 0;
    transition: all 0.3s;
    border-radius: 50%;
}